# r artifacts
*.RData

# cache
*.cache

*.DS_Store
*.Rhistory

*auto
*.bbl
*.blg
*.aux
*.log
*.out
*.synctex.gz
*.mw
*generated

Rplots.pdf
__pycache__
*.pyc
*debug.txt

*R.config
*Rdebug.txt
*julia.config
*juliadebug.txt
*matlab.config
*matlabdebug.txt
serverPID*.txt

FAQ.html

# Exceptions
!examples/Collaborate/generated