# r artifacts
*.RData

# cache
*.cache

*.DS_Store
*.Rhistory

*auto
*.bbl
*.blg
*.aux
*.log
*.out
*.synctex.gz
*.mw
*generated
*tmp

Rplots.pdf
__pycache__
*.pyc
*debug.txt

*R.config
*Rdebug.txt
*julia.config
*juliadebug.txt
*matlab.config
*matlabdebug.txt
serverPID*.txt
serverslist.txt

_minted-runcode/
FAQ.html
README
header.tex
runcode.tar.gz
runcode.tex
runcode.hd
runcode.pdf
runcode.tex~
runcode/

# Exceptions
!examples/Collaborate/generated
